.game h1 {
    display: block;
}
.game .container {
    display: none;
}

.difficulty > span:nth-child(4) {
    display: none;
}

.container {
    display: none;
}

.container {
    display: flex;
    flex-direction: unset;
}

.container > div > div {
    transform: rotate(90deg);
    margin: 10px 5px;
}

.switches, .lights {
    margin: 0;
}

.container > div {
    display: flex;
    flex-direction: column;
}

.container > div:first-child {
    order: 1;
}