@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Playpen+Sans:wght@100;200;300;400;500;600;700;800&display=swap');

/* @font-face {
    font-family: 'Doppio One Local';
    src: url('../font/DoppioOne.ttf');
}

@font-face {
    font-family: 'Nanum Pen Script Local';
    src: url('../font/NanumPenScript.ttf');
} */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    margin: 0;
    min-height: 100vh;
    width: 100%;
    font-family: 'Indie Flower', cursive;
    font-family: 'Playpen Sans', cursive;
}

h2 {
    display: none;
    position: fixed;
    z-index: 1;
    bottom: 30px;
    width: 100%;
    font-weight: 200;
    margin: 0;
    text-align: center;
    animation: fade-out linear 5s;
    animation-fill-mode: backwards;
    animation-direction: reverse;
    animation-delay: 5s;
}

h2 span {
    font-weight: 300;
}

svg {
    display: none;
    max-height: 70%;
}

.retry {
    width: 44px;
    height: 44px;
    position: fixed;
    top: 22px;
    right: 22px;
    animation: fade-out linear 5s;
    animation-fill-mode: backwards;
    animation-direction: reverse;
    background-color: red;
    background: url('../img/retry.png');
    background-size: cover;
    display: none;
    z-index: 2;
    cursor: pointer;
}

.retry::after {
    content: "rigioca";
    position: absolute;
    top: 44px;
    font-size: 12px;
    font-weight: 200;
}

.game {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    z-index: 1;
    position: relative;
    background-color: #edf2ff;
}

.game .easter-egg {
    width: 50px;
    height: 50px;
    position: fixed;
    top: 0;
    right: 0;
}

.game h3 {
    font-weight: 200;
    font-size: 18px;
    margin-bottom: 2px;
}

.game h4 {
    font-weight: 100;
    font-size: 15px;
    margin-bottom: 24px;
}


.container {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.switches,
.lights {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.switches > div,
.lights > div {
    width: 50px;
    height: 50px;
    margin: 0 10px;
    cursor: pointer;
    background-size: cover;
}

.switches {
    order: 1;
    margin: 0;
}

.switches > div.off {
    background-image: url('../img/switch_off.png');
}

.switches > div.on {
    background-image: url('../img/switch_on.png');
}

.lights > div.off {
    background-image: url('../img/light_off.png');
}

.lights > div.on {
    background-image: url('../img/light_on.png');
    position: relative;
}

.lights > div.on::after {
    box-shadow: 0 0 36px 24px rgba(255, 255, 0, 0.7);
    position: absolute;
    width: 0;
    height: 0;
    content: "";
    top: 20px;
    left: 24px;
    border-radius: 100%;
    z-index: -1;
}

.intro {
    position: absolute;
    background-image: radial-gradient(circle at center, #2d61bf 0%, black 100%);
    min-height: 100vh;
    width: 100%;
    color: white;
    z-index: 3;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 20px 20px 30px;
}

.intro * {
    opacity: 0;
}

.intro[visible] * {
    animation: fade-in 2.5s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.intro.active {
    animation: fade-out 1s 1;
    animation-fill-mode: forwards;
    pointer-events: none;
    position: fixed;
}

.intro h1 {
    font-size: 32px;
    margin-bottom: 12px;
    text-shadow: 0px 0px 15px #fff;
    font-weight: 300;
}

.intro .preloading span:nth-child(1) {
    background-image: url('../img/switch_on.png');
}

.intro .preloading span:nth-child(2) {
    background-image: url('../img/light_on.png');
}

.intro .preloading span:nth-child(3) {
    background-image: url('../img/light_off.png');
}

.intro .preloading span:nth-child(4) {
    background-image: url('../img/light_off.png');
}

.intro p {
    font-size: 17px;
    font-weight: 200;
    line-height: 31px;
    max-width: 400px;
    margin-bottom: 16px;
}

.intro h3 {
    font-size: 16px;
    font-weight: 100;
}

.intro .difficulty {
    display: flex;
}

.intro .difficulty > span {
    background-size: cover;
    height: 44px;
    width: 44px;
    margin: 24px 16px;
    cursor: pointer;
    position: relative;
}

.intro .difficulty > span::after {
    display: block;
    position: absolute;
    top: 54px;
    width: 100%;
    font-family: 'Indie Flower', cursive;
}

.intro .difficulty .easy {
    background-image: url('../img/easy.png');
}

.intro .difficulty .medium {
    background-image: url('../img/medium.png');
}

.intro .difficulty .hard {
    background-image: url('../img/hard.png');
}

.intro .difficulty .crazy {
    background-image: url('../img/crazy.png');
}

.intro .difficulty .easy::after {
    content: "Easy";
    color: #4eb1aa;
}

.intro .difficulty .medium::after {
    content: "Medium";
    color: #4eb15e;
}

.intro .difficulty .hard::after {
    content: "Hard";
    color: #b1834e;
}

.intro .difficulty .crazy::after {
    content: "Crazy";
    color: #b14e4e;
}

.blank.active {
    position: fixed;
    background-color: #FFF;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    animation: fade-in 5s;
    animation-fill-mode: forwards;
    opacity: 0;
    pointer-events: none;
    z-index: 3;
}

.blank.fade {
    position: fixed;
    background-color: #FFF;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    animation: fade-out 3s;
    animation-fill-mode: forwards;
    opacity: 1;
    pointer-events: none;
    z-index: 3;
}

@keyframes fade-out {
    0%   { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes fade-in {
    0%   { opacity: 0; }
    40%  { opacity: 0; }
    100% { opacity: 1; }
}